.section {
  padding: 4rem 0;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 980px) {
  .section {
    padding-top: 7rem;
  }
}

.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  position: relative;
}

.title::after {
  content: '';
  display: block;
  width: 60px;
  height: 2px;
  background-color: var(--color-primary);
  margin: 0.5rem auto 0;
}

.paragraph {
  line-height: 1.7;
  margin-bottom: 1.2rem;
}

.strong {
  font-weight: bold;
}
