.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 5rem;
}

.banner {
  display: flex;
  position: relative;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  text-align: center;
  margin-top: 6rem;
  width: 100%;
}

.maskedImage {
  width: 35%;
  position: relative;
  display: inline-block;
}

.maskedImage img {
  display: block;
  width: 100%;
  height: auto;
}