.container {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 5rem;
}

.banner {
  display: flex;
  position: relative;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  text-align: center;
  margin-top: 6rem;
  width: 100%;
}

.maskedImage {
  width: 35%;
  position: relative;
  display: inline-block;
}

.maskedImage img {
  display: block;
  width: 100%;
  height: auto;
}

.menuContainer {
  position: absolute;
  top: 0;
  padding: 1rem;
  right: 30px;
  background-color: var(--color-background);
  width: 13rem;
  z-index: 999;
  border-radius: 0 0 6px 7px;
}

.userContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-primary);
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: .8rem;
}

.userContent img {
  width: 3.5rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.875rem;
  text-decoration: none;
  margin-top: 1rem;
}

.navItem {
  color: var(--color-text);
  font-weight: 400;
  gap: .3rem;
  font-size: .8rem;
  cursor: pointer;
  user-select: none;
}

.navItem img {
  width: 2rem;
}

.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  z-index: 999;
  background-color: var(--color-primary);
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}