.locationContainer {
  width: 100%;
  gap: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 980px) {
  .locationContainer {
    margin-top: 1rem;
  }
}

.locationSelectorContainer {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select {
  background: var(--color-background);
  width: 30rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: 3px solid var(--color-separators);
}

.select select {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  color: var(--color-text);
}

@media (max-width: 768px) {
  .select {
    width: 100%;
  }
}

.locationIcon {
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
}

.locationIcon img {
  width: 1.6rem;
}

@media (max-width: 768px) {
  .locationIcon {
    font-size: 0.9rem;
  }
}

.searchDeliveryButton {
  background: var(--color-primary);
  outline: none;
  border: none;
  width: 99%;
  padding: 1rem 0;
  border-radius: var(--border-radius);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.scrollDownContainer {
  position: fixed;
  bottom: 10px;
  background: var(--color-primary);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  right: 48%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 1.5s infinite;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.scrollDownContainer.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 768px) {
  .scrollDownContainer {
    right: 45%;
  }
}

/* Footer */

.footerContainer {
  background-color: #0e0e0e;
  padding: 30px;
  font-size: 0.8em;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .row {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}

.footerNav {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footerNav li {
  margin-right: 20px;
}

.footerNav li:last-child {
  margin-right: 0;
}

.footerNav li a {
  text-decoration: none;
  border: 0;
  color: #888;
}

.footerNav li a:hover,
.footerNav li a:active {
  color: #ddd;
}

@media (max-width: 600px) {
  .footerNav {
    justify-content: center;
  }
}

.socialIcons {
  list-style: none;
  padding: 0;
  display: flex;
}

.socialIcons li {
  margin-right: 20px;
}

.socialIcons li:last-child {
  margin-right: 0;
}

.socialIcons li a {
  color: #888;
  font-size: 1.6em;
  transition: color 0.2s;
}

.socialIcons li a:hover {
  color: currentColor;
}

.copyright {
  color: #888;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

.dividerLine {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    #ff5100 0%, #ff5100 33.33%,
    #ed9268 33.33%, #ed9268 66.66%,
    #ff621a 66.66%, #ff621a 100%
  );
}
